@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background-color: rgb(219, 229, 239);
  font-family: "PT Sans", sans-serif;
  overflow-y: overlay;
  overflow-x: hidden;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.header {
  padding: 10px 0px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content-menu {
  cursor: pointer;
}
.header__content-menu span {
  display: block;
  width: 35px;
  background-color: rgb(128, 125, 125);
  border-radius: 20px;
  height: 3px;
  margin: 7px 0px;
  transition: all 0.3s;
}
.header__content-menu.active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.header__content-menu.active span:nth-child(2) {
  opacity: 0;
}
.header__content-menu.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.header__content-logo a img {
  width: 120px;
  height: 90px;
}

.menu-info {
  position: absolute;
  left: -100%;
  top: 103px;
  background-color: rgba(219, 229, 239, 0.9);
  z-index: 10;
  transition: all 0.3s;
  width: 30%;
  height: 100vh;
  padding: 10px 0px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.menu-info a {
  color: blue;
  font-weight: 700;
  margin: 10px 0px;
}
.menu-info .info {
  display: flex;
  flex-direction: column;
}

.menu-info.active {
  left: 0;
}

@media (max-width: 1000px) {
  .menu-info {
    width: 50%;
  }
  .menu-info.active {
    left: 0;
    overflow: scroll;
  }
}
@media (max-width: 550px) {
  .menu-info {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
  }
}
.main .student {
  margin-top: 50px;
  overflow: hidden;
}
.main .student h1 {
  text-align: center;
  color: rgb(29, 162, 250);
}
.main .student .swiper-container {
  margin-top: 50px;
  position: relative;
}
.main .student .swiper-container .swiper-wrapper {
  margin: 20px 0px;
}
.main .student .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgb(137, 137, 229);
  padding: 30px 0px;
  border-radius: 40px;
  transition: all 0.3s;
}
.main .student .swiper-container .swiper-wrapper .swiper-slide img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 40px;
}
.main .student .swiper-container .swiper-wrapper .swiper-slide:hover {
  transform: translateY(-20px);
}
.main .student .swiper-container .swiper-button-prev,
.main .student .swiper-container .swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  transition: all 0.3s;
}
.main .student .swiper-container .swiper-button-prev::after {
  font-size: 20px;
}
.main .student .swiper-container .swiper-button-next::after {
  font-size: 20px;
}
.main .stock {
  margin-top: 50px;
  overflow: hidden;
}
.main .stock h2 {
  text-align: center;
  color: rgb(29, 162, 250);
}
.main .stock .swiper-container {
  margin-top: 50px;
  position: relative;
}
.main .stock .swiper-container .swiper-wrapper {
  margin: 20px 0px;
}
.main .stock .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgb(137, 137, 229);
  padding: 30px 0px;
  border-radius: 40px;
  transition: all 0.3s;
}
.main .stock .swiper-container .swiper-wrapper .swiper-slide img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 40px;
}
.main .stock .swiper-container .swiper-wrapper .swiper-slide:hover {
  transform: translateY(-20px);
}
.main .stock .swiper-container .swiper-button-prev,
.main .stock .swiper-container .swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  transition: all 0.3s;
}
.main .stock .swiper-container .swiper-button-prev::after {
  font-size: 20px;
}
.main .stock .swiper-container .swiper-button-next::after {
  font-size: 20px;
}
.main .help {
  margin-top: 50px;
}
.main .help .title {
  text-align: center;
  color: rgb(29, 162, 250);
  font-size: 40px;
}
.main .help .link .block {
  margin-top: 20px;
}
.main .help .link .block h4 {
  color: blue;
  font-weight: 800;
  font-size: 30px;
}
.main .help .link .block a {
  margin-top: 10px;
  color: yellow;
}

#pdf-container {
  height: 850px; /* задаем высоту контейнера */
  overflow: auto; /* включаем скроллинг */
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
#pdf-container canvas {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  #pdf-container {
    height: 500px;
  }
}
#pdf-viewer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#pdf-settings {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 5px;
}

#pdf-settings button {
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */